.grabit-icon-lnk, .grabit-command-menuitem {
  list-style-image: url("chrome://grabit/skin/fg1.png");
}
.grabit-icon-sel {
  list-style-image: url("chrome://grabit/skin/fg2.png");
}
.grabit-icon-all {
  list-style-image: url("chrome://grabit/skin/fg3.png");
}
.grabit-icon-tabs {
  list-style-image: url("chrome://grabit/skin/fg4.png");
}
.grabit-icon-opts {
  list-style-image: url("chrome://grabit/skin/fg5.png");
}
.grabit-icon-buildGallery {
  list-style-image: url("chrome://grabit/skin/fg6.png");
}
.grabit-icon-media {
  list-style-image: url("chrome://grabit/skin/fg7.png");
}

statusbarpanel.grabit-icon-media {
  cursor: pointer;
}

#grabit-tbb-all  {
  list-style-image: url("chrome://grabit/skin/icon24.png");
  -moz-image-region: rect(0px, 24px, 24px, 0px);
  -moz-box-orient: vertical;
  -moz-box-pack: end;
}

toolbar[iconsize="small"] #grabit-tbb-all {
  list-style-image: url("chrome://grabit/skin/fg1.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

#grabit-media-tbb {
  list-style-image: url("chrome://grabit/skin/fg7l.png");
  -moz-image-region: rect(0px, 24px, 24px, 0px);
}

toolbar[iconsize="small"] #grabit-media-tbb {
  list-style-image: url("chrome://grabit/skin/fg7.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

toolbar[customizing="true"] #grabit-media-tbb, toolbarpaletteitem #grabit-media-tbb {
  display: inherit !important;
  opacity: 1 !important;
}

#addon-bar > #grabit-media-tbb {
  -moz-box-orient: horizontal;
  -moz-box-pack: end;
}

#grabit-media-tbb  > .toolbarbutton-icon {
  width: auto !important;
  height: auto !important;
}

#regetMenu, #regetMenuSep, #regetContextSelection, #regetContextLink, #regetContextAll {
  display: none !important;
}

